*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}
.slide li{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}
.slide li:nth-child(1){
    background: url(img/2.jpg) no-repeat;
}
.slide li:nth-child(2){
    background: url(img/3.jpg) no-repeat;
}
.slide li:nth-child(3){
    background: url(img/4.jpg) no-repeat;
}
.slide li:nth-child(4){
    background: url(img/5.jpg) no-repeat;
}
.slide li:nth-child(5){
    background: url(img/1.jpg) no-repeat;
}
.zIndex{
    z-index: 111;
}
.a1{
    width: 100%;
    text-align: center;
    position: absolute;
    left:15%;
    bottom:15%;
    line-height: 46px;
    font-size: 30px;
    color:green;
    font-weight: bolder;
    overflow: hidden;
}
.a1 p:nth-child(odd){
    -webkit-transform: translate(-500px,0);  
}
.a1 p:nth-child(even){
    -webkit-transform: translate(500px,0);
}

#a1 p{
    -webkit-transform: translate(0,0);
    -webkit-transition: 1s;

}
.slide li .h11{
    position: absolute;
    top:40%;
    left: 10%;
    width: 80%;
    height: 45px;
    line-height:45px ;
    padding:0 0 20px 20px ;
    border-bottom:3px dashed crimson ;
    text-align: left;
    font-weight: bold;
    color: green;
    font-size: 50px;

}
.slide li .div2{
    position: absolute;
    top:10%;
    left: 35%;
    width: 205px;
    height: 240px;
    border-radius:50% ;
    background: #fff;
    overflow: hidden;
    font-weight: bold;
}
.slide li .div2 img{
     margin:0 0 0 -211px;


}
.a2 p{
    box-shadow: 1px 1px 10px rgba(127, 255, 0,0.8);
    color:  green;
    line-height: 25px;
    border-radius: 30%;
    width: 0;
    height:0;
    position: absolute;
    overflow: hidden;
     font-size: 30px;
    padding: 15px 20px;
}
.a2 p:nth-child(1){
    left: 30%;
    top:30%;
}
.a2 p:nth-child(2){
    left: 45%;
    top: 47%;
}
.a2 p:nth-child(3){
    left: 48%;
    top: 62%;
}
.a2 p span{
    display: block;
    height: 40px;
    line-height: 40px;
    color: green;
    font-size: 45px;
    font-weight: bold;
}
#a2 p{
    width: 400px;
    height: 100px;
    background:#EF8;
    -webkit-transition: 1s;
}
#a2 p:nth-child(2){
    width: 180px;
    text-align: center;
    height: 80px;
}

#a2 p:nth-child(3){
    text-align: center;
    width: 150px;
    height: 80px;
}

.a3 p {
    position: absolute;
    top: 30%;
    left: -150%;
    width: 100%;
    height: 27%;
    /*background:#EF8;*/
    font-size: 30px;
font-weight: bold;
}
.a3 p span:nth-child(1){
    display: block;
    height: 40px;
    line-height: 40px;
    width: 250px;
    border-bottom:3px dashed crimson;
    color:green ;
    font-size: 45px;
padding: 15px; margin: 10px;
}
.a3 p:nth-child(2) {
    top: 60%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#a3 p {
    -webkit-animation-name: myMove;
    animation-name: myMove;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
@keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
.a4{
    position: absolute;
    top: -150%;
    width: 90%;
    margin: 0 3%;
    overflow: hidden;
    /*background: #EF8;*/
    border:3px dashed #ff6700;
    padding:10px 10px;
}
.a4 p{
     line-height: 30px;
     font-size: 20px;
    padding:2px;
 }

#a4{
    -webkit-animation-name: mMove;
    animation-name: mMove;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-timing-function:ease-in;
    animation-timing-function: ease-in;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes mMove {
    25% {
        top: -75%;
    }
    50%, 100% {
        top:40%;
    }
    75% {
        top: 75%;
    }
}
@keyframes mMove {
    25% {
        top: -75%;
    }
    50%, 100% {
        top:40%;
    }
    75% {
        top: 75%;
    }
}

.a5{
    position: absolute;
    width: 80%;
    height: 40%;
    margin: 5%;
    text-align: center;
    /*background: blue;*/
    overflow: hidden;
    left: -100%;
}
.a5 p{
    position:absolute;
    width: 20%;
    line-height: 45px;
    font-size: 30px;
    border-radius: 35%;
    background: #31b0d5;
}
.a5 p:nth-child(1){
    top:8%;
    left: 37%;
    width: 28%;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
}
.a5 p:nth-child(2){
    top:40%;
    left: 23%;
}
.a5 p:nth-child(3){
    top:40%;
    right: 23%;
}
.a5 p:nth-child(4){
    top:70%;
    left:7%;
}
.a5 p:nth-child(5){
    top:70%;
    left:35%;
    width:160px;
}
.a5 p:nth-child(6){
    top:70%;
    right:25px;

}

#a5{
    -webkit-animation-name: mtMove;
    animation-name: mtMove;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-timing-function:ease;
    animation-timing-function: ease;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes mtMove {
    25% {
        left: -15%;
    }
    50%, 100% {
        left:5%;
    }
    75% {
        left: 40%;
    }
}
@keyframes mtMove {
    25% {
        left: -15%;
    }
    50%, 100% {
        left:5%;
    }
    75% {
        left: 40%;
    }
}
